# --- YANDEX AI STUDIO ---
YANDEX_API_KEY="ВАШ_КЛЮЧ_API"
YANDEX_FOLDER_ID="ВАШ_FOLDER_ID"
PROXY="" # Опционально: прокси для обхода блокировок Google (например: http://127.0.0.1:7890)

# --- ТЕЙЛСКЕЙЛ КЛАСТЕР ---
MASTER_HOST="100.71.14.9"

NEO4J_HOST="100.126.216.18"
NEO4J_PORT="7687"
NEO4J_USER="neo4j"
NEO4J_PASSWORD="hackathon2026password"

CHROMA_HOST="100.70.36.78"
CHROMA_PORT="8000"
